body {
  font-family: "Avenir Next";
}
li {
  list-style: none;
}
header {
  background-color: #3849E7;
  color: #fff;
  height: 95px;
  padding: 10px;
}
.header-logo {
  float: left;
  font-size: 40px;
  padding: 20px 40px;
}
.header-list li {
  float: left;
  padding: 23px 20px;
}
.button_css {
  background-color: #3849E7;
  text-decoration: none;
  color:#fff
}
main {
  padding: 50px;
}
.shumi{
  font-size:30px;
}
footer {
  background-color: #2f776b;
  color: #fff;
  height: 100px;
  padding: 40px 30px 0px 30px;
}
.button_css2 {
  background-color:#2f776b;
  color:#fff;
}
.footer-logo {
  float: left;
  font-size: 36px;
}
.footer-list {
  float: right;
}
.footer-list li {
  padding-bottom: 20px;
}
